[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
